.modalback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: black;
  margin-bottom: 15px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.applicantCard {
  background: #4b49ac;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.applicantCard:hover {
  background: #413f98;
}
.applicantHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.applicantDetails {
  max-height: 0;
  padding-left: 10px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: #f0f4f8;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.applicantDetails.show {
  max-height: 500px;
  opacity: 1;
}

.applicantDetails p {
  margin: 5px 0;
}

.applicantDetails a {
  color: #007bff;
  text-decoration: none;
}

.applicantDetails a:hover {
  text-decoration: underline;
}
.applicantHeader strong,
.applicantHeader button {
  color: white;
  font-weight: 700;
}
.applicantHeader span {
  color: white;
  font-weight: 500;
}

/* Responsive Design */
@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 15px;
  }
}
