.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main {
  width: 90%;
  max-width: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding: 1.5rem;
  z-index: 1;
}

.main div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.main div label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.main div input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

.main div input:focus {
  border-color: #007bff;
}

.loader {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.338);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main button {
  width: 100%;
  padding: 0.8rem;
  background-color: #4b49ac;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1rem;
}

.main button:hover {
  background-color: #3b3987;
}

@media (max-width: 768px) {
  .main {
    width: 95%;
    padding: 1rem;
  }
  .main div input {
    padding: 0.6rem;
  }
  .main button {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .main {
    width: 100%;
    padding: 0.8rem;
  }
  .main div label {
    font-size: 0.9rem;
  }
  .main div input {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .main button {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}
